section#home-hero-section {
  background: $blue;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 0;
  @include myTransition(.1s);
  @media #{$max_md} {
    background-position: -400px center;
  }
  .title {
    display: flex;
    justify-content: center;
    gap: 30px;
    position: absolute;
    left: 60px;
    bottom: 60px;
    z-index: 1;
    @media #{$max_md} {
      left: 30px;
    }
    &::before {
      content: '';
      display: block;
      width: 14px;
      background: $white;
    }
    .sub-title {
      display: block;
      font-family: $mf_semibold_italic;
      @include textSize(3.437rem, 55px);
      color: rgba($white, .7);
      @media #{$max_xxl} {
        font-size: 2.5rem;
      }
      @media #{$max_md} {
        font-size: 4vw;
      }
    }
    h1 {
      font-family: $mf_black;
      @include textSize(3vw, 1.1);
      color: $white;
      text-transform: uppercase;
      text-shadow: 0 0 4px $dark;
      @media #{$max_xl} {
        font-size: 6vw;
      }

      @media #{$max_md} {
        font-size: 8vw;
      }
      @media #{$landscape} {
        font-size: 12vh;
      }
      span {
        color: $accent;
      }
    }
  }
}


section#about-trips {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  @media #{$max_xl} {
    flex-direction: column-reverse;
    height: auto;
  }
  div.image {
    width: 50vw;
    height: 100vh;
    background-position: center center;
    background-size: cover;
    @media #{$max_xxl} {
      width: 40%;
    }
    @media #{$max_xl} {
      width: 100%;
    }
  }
  div.desc {
    width: calc(50% - 120px);
    padding: 60px;
    @media #{$max_xxl} {
      width: calc(60% - 120px);
    }
    @media #{$max_xl} {
      width: calc(100% - 120px);
    }
    @media #{$max_md} {
      width: calc(100% - 60px);
      padding: 30px;
    }
    .h1 {
      font-family: $light;
      font-weight: normal;
      text-transform: none;
      margin-bottom: 60px;
      @media #{$max_xl} {
        font-size: 3rem;
      }
      @media #{$max_md} {
        margin-bottom: 30px;
        font-size: 6vw;
      }
      strong {
        font-family: $bold;
      }
    }
    p, a {
      @include textSize(1.25rem, 1.2);
      margin-bottom: 15px;
    }
    a {
      display: block;
      color: $red;
      margin-top: 30px;
    }
  }

}

section#trips-top-6 {
  padding: 60px;
  @media #{$max_md} {
    padding: 30px;
  }
  .h1 {
    margin-bottom: 30px;
    @media #{$max_md} {
      font-size: 6vw;
    }
  }
  #trips {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
    @media #{$max_xl} {
      grid-template-columns: repeat(2, 1fr);
    }
    @media #{$max_md} {
      grid-template-columns: repeat(1, 1fr);
      gap: 30px;
    }
  }
  .trip {
    position: relative;
    padding-bottom: 50px;
    @include myTransition(.4s);
    .thumbnail {
      img {
        display: block;
      }
    }
    .title {
      background-color: $blue;
      padding: 20px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      @media #{$max_460} {
        display: block;
      }
      a {
        display: block;
        @include textSize(1.25rem, 1.2);
        color: $white;
        text-transform: uppercase;
        font-family: $bold;
        width: 100%;
        @media #{$max_460} {
          font-size: 1rem;
        }
        &::after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
        // @media #{$minW_1360} {
        //   min-height: 76.8px;
        // }
      }
      .detail {
        border-left: 3px solid rgba($white, .5);
        padding-left: 20px;
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        text-align: right;
        @media #{$max_460} {
          border-left: none;
          margin: 0;
          background-color: $blue;
          position: absolute;
          top: 0;
          right: 0;
          padding: 5px;
        }
        .price {
          display: inline-block;
          font-family: $mf_black;
          @include textSize(2.8rem, 1);
          color: $red;
          white-space: nowrap;
          @media #{$max_460} {
            font-size: 2.5rem;
          }
        }
        .info {
          font-family: $bold;
          @include textSize(.7rem, 16px);
          text-transform: uppercase;
          color: $dark;
        }
      }
    }
    .desc {
      p {
        @include textSize(1.125rem, 26px);
        margin-bottom: 20px;
      }
    }
    .btn {
      position: absolute;
      left: 0;
      bottom: 0;
    }
    &:hover {
      .title a {
        color: $dark;
      }
      .btn {
        background-color: $dark;
      }
    }
  }
}

section#special-offer {
  padding: 60px;
  @media #{$max_md} {
    padding: 30px;
  }
  .h1 {
    margin-bottom: 30px;
    @media #{$max_md} {
      font-size: 6vw;
    }
  }
  #offers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
    @media #{$max_lg} {
      grid-template-columns: repeat(1, 1fr);
    }
    @media #{$max_md} {
      gap: 30px;
    }
  }
  .offer {
    position: relative;
    .thumbnail {
      img {
        display: block;
        width: 100%;
        max-height: 400px;
        object-fit: cover;
      }
    }
    .title {
      text-align: center;
      background-color: $blue;
      a {
        display: block;
        @include textSize(2rem, 1);
        font-family: $light;
        color: $white;
        text-transform: uppercase;
        padding: 20px;
        &::after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
    }
    &:hover {
      .title a {
        color: $dark;
      }
    }
  }
}

section#quick-contact {
  background-size: cover;
  width: 100%;
  height: 100vh;
  @media #{$min_lg} {
    background-attachment: fixed;
  }
  #container {
    position: relative;
    top: 50%;
    background-color: rgba($dark, .9);
    padding: 60px;
    text-align: center;
    @media #{$max_md} {
      padding: 30px;
    }
    @media #{$max_md} {
      top: 50px;
    }
    @media #{$max_460} {
      top: 0;
    }
    h3 {
      @include textSize(2.5rem, 1);
      color: $white;
      margin-bottom: 30px;
      font-family: $regular;
      font-weight: normal;
      @media #{$max_md} {
        font-size: 6vw;
        margin-bottom: 20px;
      }
    }
    #links {
      a {
        display: inline-flex;
        align-items: center;
        gap: 10px;
        @include textSize(1.125rem, 1);
        margin: 0 10px;
        color: $white;
        @media #{$max_lg} {
          margin: 15px 10px;
        }
        i {
          @include myTransition(.4s);
        }
        @media #{$min_lg} {
          &:hover {
            i {
              transform: rotate(360deg);
            }
          }
        }
      }
    }
  }
}

section#book-a-trip {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 999;
  background-color: $blue;
  background-size: cover;
  @media #{$max_xxl} {
    overflow-y: scroll;
  }
  @media #{$max_lg} {
    background-image: none !important;
    background-color: $white;
  }
  #close-book-a-trip {
    position: absolute;
    top: 60px;
    right: 60px;
    width: 40px;
    height: 40px;
    z-index: 10;
    @media #{$max_xxl} {
      top: 30px;
      right: 30px;
      &::before {
        filter: $filter_blue;
      }
    }
  }
  .content {
    position: absolute;
    right: 60px;
    bottom: 60px;
    background-color: rgba($white, .9);
    width: 60%;
    padding: 30px;
    @media screen and (max-height: 1280px) {
      position: relative;
      width: calc(60% - 60px);
      right: auto;
      bottom: auto;
    }
    @media #{$max_xxl} {
      position: relative;
      right: auto;
      bottom: auto;
      width: calc(100% - 60px);
    }
    @media #{$max_lg} {
      background-color: transparent;
    }
    h2 {
      @include textSize(2.5rem, 1);
      font-family: $light;
      text-transform: uppercase;
      margin-bottom: 30px;
      font-weight: normal;
      @media #{$max_md} {
        font-size: 6vw;
      }
    }
    a {
      color: $blue;
    }
    .form {
      .wpcf7 {
        .horizontal p {
          display: flex;
          align-items: center;
          gap: 30px;
          @media #{$max_sm} {
            display: block;
          }
        }
      }
    }
  }
}

#quick-contact-small {
  position: fixed;
  bottom: 100px;
  right: 60px;
  z-index: 999;
  @media #{$max_md} {
    right: 10px;
    bottom: 10px;
  }
  #quick-contact-toggle {
    width: 60px;
    height: 60px;
    &::before {
      display: block;
      width: 60px;
      height: 60px;
    }
  }
  #qc-content {
    position: absolute;
    bottom: 80px;
    right: 0;
    background-color: $dark;
    display: none;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    padding: 20px;
    a {
      display: flex;
      align-items: center;
      gap: 10px;
      @include textSize(1rem, 16px);
      color: $white;
    }
  }
}