$accent: #CC0000;
$white: #fff;
$dark: #4D4D4D;
$dark2: #191919;
$black: #000;
$green: #7A8760;
$green2: #787A2E;
$yellow: #F2C939;
$silver: #595959;
$border_color: #E5E5E5;
$background_color: #FEFEFE;
$red: #CC0000;
$blue: #46C1EF;
$blue2: #2F3B52;

$filter_dark: invert(10%) sepia(0%) saturate(122%) hue-rotate(144deg) brightness(101%) contrast(79%);
$filter_accent: invert(11%) sepia(60%) saturate(7471%) hue-rotate(359deg) brightness(99%) contrast(111%);
$filter_white: invert(100%) sepia(100%) saturate(0%) hue-rotate(134deg) brightness(104%) contrast(101%);

$filter_green: invert(39%) sepia(43%) saturate(570%) hue-rotate(23deg) brightness(105%) contrast(88%);
$filter_green2: invert(48%) sepia(17%) saturate(1275%) hue-rotate(23deg) brightness(90%) contrast(94%);

$filter_blue: invert(84%) sepia(43%) saturate(4733%) hue-rotate(165deg) brightness(97%) contrast(94%);
$filter_red: invert(16%) sepia(11%) saturate(3274%) hue-rotate(314deg) brightness(99%) contrast(96%);